@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}